#container{
  min-width: 980px;
}

.l-content-fixed{
  width: 980px;
  margin: 0 auto;
}

.l-content-expanded{
  width: auto;
  margin: 0;
}

.l-multicolmun{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 50px -20px;
}

.l-3colmun > .l-colmun{
  width: calc(100% / 3);
  padding: 0 20px;
}

.l-2colmun > .l-colmun{
  width: calc(100% / 2);
  padding: 0 20px;
}